<div class="sidebar">

<div class="social-networks">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}">&#xe224;
</a>
{% endif %}
{% if site.author.facebook %}
<a href="http://facebook.com/{{ site.author.facebook }}">&#xe227;
</a>
{% endif %}
{% if site.author.twitter %}
<a href="http://twitter.com/{{ site.author.twitter }}">&#xe286;
</a>
{% endif %}
{% if site.author.googleplus %}
<a href="http://plus.google.com/{{ site.author.googleplus }}">&#xe239;
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="http://linkedin.com/{{ site.author.linkedin }}">circlelinkedin
</a>
{% endif %}
{% if site.author.youtube %}
<a href="http://youtube.com/{{ site.author.linkedin }}">circleyoutube
</a>
{% endif %}
{% if site.author.instagram %}
<a href="http://instagram.com/{{ site.author.instagram }}">circleinstagram
</a>
{% endif %}
<a href="/atom.xml">circlerss</a>
  </div>
  <div class="container sidebar-sticky">
    <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}"/>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
{% comment %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
{% endcomment %}
  </div>
</div>
